{# src/Sdz/BlogBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
    Site - {{ parent() }}
{% endblock %}

{% block header %}
  <div class="jumbotron masthead">
    <div class="container">
      <h1>Projet ISM</h1>
      <p>Ce projet est propulsé par Symfony2 et Bootstrap.</p>
      <p><a class="btn btn-primary btn-large" href="#">En savoir plus »</a></p>
      <ul class="masthead-links">
        <li><a href="https://github.com/melkir/BlogISM">GitHub project</a></li>
        <li>Version 2.0</li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block content %}
  {# On gère les messages flash de façon globale pour tout le bundle
     On peut catégoriser les messages dans différents sacs (bag),
     ici on les a mis dans "info", "success" et "error", qui correspondent aux classes CSS du Bootstrap #}
  {% for type in ['info', 'success', 'error'] %}
    {% for message in app.session.flashbag.get(type) %}
        <div class="alert alert-{{ type }}">
          {{ message }}
        </div>
    {% endfor %}
  {% endfor %}

  {# On définit un nouveau block, que les vues du bundle pourront remplir #}
  {% block sdzsite_body %}
  {% endblock %}

{% endblock %}

{% block footer %}
  <p> {{ parent() }} - <a href="">Flux RSS du site</a></p>
{% endblock %}

