<div class="jumbotron masthead">
  <div class="container">
    <h1>Projet ISM</h1>
    <p>Ce projet est propulsé par Symfony2 et Bootstrap.</p>
    <p><a class="btn btn-primary btn-large" href="#">En savoir plus »</a></p>
    <ul class="masthead-links">
      <li><a href="http://github.com/twitter/bootstrap">GitHub project</a></li>
      <li>Version 2.0</li>
    </ul>
  </div>
</div>
