{% extends "IsmBlogBundle:Blog:index.html.twig" %}

{% block body -%}
<h2>Liste des articles - Catégorie &laquo; {{ name }} &raquo;</h2>
<ul>
  {% for article in articles %}
    {% include "IsmBlogBundle:Article:article.html.twig" with {'accueil': true} %}
    <hr />
  {% else %}
    <p>Aucun article ne correspond pour ce tag</p>
  {% endfor %}
</ul>
{% endblock %}
