{% extends "IsmBlogBundle:Blog:index.html.twig" %}

{% block body -%}
<h2>Catégorie &laquo; {{ name }} &raquo;</h2>
<ul>
  {% for article in articles %}
    {% include "IsmBlogBundle:Article:article.html.twig" with {'accueil': true} %}
    <hr />
  {% else %}
    </br>
    <p>Aucun article correspondant pour cette catégorie</p>
  {% endfor %}
</ul>
{% endblock %}
