{% extends "SdzUserBundle::layout.html.twig" %}

{% block title %}
  Création de la fiche membre - {{ parent() }}
{% endblock %}

{% block sdzuser_body %}

  <h2>Créer une fiche membre</h2>

  {% include "SdzUserBundle:Blog:formulaire.html.twig" %}

  <p>
    Vous ajoutez une nouvelle fiche membre.
  </p>

{% endblock %}
