{# src/Sdz/UserBundle/Resources/views/Blog/modifier.html.twig #}

{% extends "SdzUserBundle::layout.html.twig" %}

{% block title %}
  Modifier une fiche membre - {{ parent() }}
{% endblock %}

{% block sdzuser_body %}

  <h2>Modifier une fiche membre</h2>

  {% include "SdzUserBundle:Blog:formulaire.html.twig" %}

  <p>
    <a href="{{ path('sdzuser_index') }}" class="btn">
      <i class="icon-chevron-left"></i>Annuler
    </a>
  </p>

{% endblock %}
