{% extends "SdzSiteBundle::Links/links.html.twig" %}

{% block sdzsite_body -%}
    <h2>Ajouter un nouveau lien</h2>

    <form action="{{ path('links_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <a href="{{ path('links') }}" class="btn">
              <i class="icon-chevron-left"></i>
              Retour à la liste
            </a>
            <button type="submit" class='btn'>Valider</button>
        </p>
    </form>

{% endblock %}
