{% extends "IsmBlogBundle::layout.html.twig" %}

{% block body -%}
    <h1>Création d'un article</h1>

    <form action="{{ path('article_new') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <a href="{{ path('ismblog') }}" class="btn">
            <i class="icon-chevron-left"></i>
                Retour à la liste
            </a>
            <button type="submit" class="btn btn-primary">Valider</button>
        </p>
    </form>

{% endblock %}
