{# src/Sdz/BlogBundle/Resources/views/Blog/menu.html.twig #}
<li class="nav-header">Les derniers articles</li>
{% for article in liste_articles %}
    <li><a href="{{ path('sdzblog_voir', {'slug': article.slug}) }}">{{ article.titre }}</a></li>
{% endfor %}
