{# src/Sdz/SiteBundle/Resources/views/Default/contact.html.twig #}

{% extends "SdzSiteBundle::layout.html.twig" %}

{% block title %}
  Contact - {{ parent() }}
{% endblock %}

{% block header %}
  <header class="jumbotron subhead">
    <div class="container">
      <h1>Nous contacter</h1>
      <p class="lead">Contacter ISM pour obtenir de l'aide.</p>
    </div>
  </header>
{% endblock %}
