{# src/Sdz/SiteBundle/Resources/views/Default/lien.html.twig #}

{% extends "SdzSiteBundle::layout.html.twig" %}

{% block title %}
  Liens - {{ parent() }}
{% endblock %}

{% block header %}
  <header class="jumbotron subhead">
    <div class="container">
      <h1>Liens</h1>
      <p class="lead">Trouver les liens les plus utiles.</p>
    </div>
  </header>
{% endblock %}

{% block sdzsite_body %}
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Pseudo</th>
        <th>Site</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>www.unsite.com</td>
        <td>Super site</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>www.unautresite.com</td>
        <td>-</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Larry the Bird</td>
        <td>-</td>
        <td>@twitter</td>
        <td>www.encoreunsite.com</td>
        <td>-</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
