{% extends "SdzUserBundle::layout.html.twig" %}

{% block title %}
  Fiche membre - {{ parent() }}
{% endblock %}

{% block sdzuser_body %}

  <h2>Créer une fiche membre</h2>

  {% include "SdzUserBundle:User:formulaire.html.twig" %}


{% endblock %}
