{# src/Sdz/UserBundle/Resources/views/User/index.html.twig #}

{% extends "SdzUserBundle::layout.html.twig" %}

{% block sdzuser_body %}
  <div>
    <ul class="nav nav-pills nav-stacked">
      <li><a href="{{ path('fos_user_profile_edit') }}">Modifier mes paramamètres</a></li>
      {% if user.membre is not null %}
        <li><a href="{{ path('sdzuser_voir', {'username': user.username}) }}">Gérer ma fiche membre</a></li>
      {% else %}
        <li><a href="{{ path('sdzuser_fiche_ajouter') }}">Créer ma fiche membre</a></li>
      {% endif %}

    </ul>
  </div>
{% endblock %}
