{# src/Sdz/UserBundle/Resources/views/User/modifier.html.twig #}

{% extends "SdzUserBundle::layout.html.twig" %}

{% block title %}
  Modifier - {{ parent() }}
{% endblock %}

{% block sdzuser_body %}

  <h2>Modifier une fiche membre</h2>

  {% include "SdzUserBundle:User:formulaire.html.twig" %}

  <p>
    <a href="{{ path('sdzuser_voir', {'username': user.username}) }}" class="btn">
      <i class="icon-chevron-left"></i>
      Retour à la fiche membre
    </a>
  </p>

{% endblock %}
