{% extends "IsmSiteBundle::layout.html.twig" %}

{% block title %}
  Roadmaps - {{ parent() }}
{% endblock %}

{% block header %}
  <header class="jumbotron subhead">
    <div class="container">
      <h1>Roadmaps</h1>
      <p class="lead">Consulter les roadmaps d'ISM.</p>
    </div>
  </header>
{% endblock %}
