{# src/Sdz/UserBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
    Panneau de l'utilisateur - {{ parent() }}
{% endblock %}

{% block header %}
    <header class="jumbotron subhead">
      <div class="container">
        <h1>Espace membre</h1>
        <p class="lead">Consulter votre profil</p>
      </div>
    </header>
{% endblock %}

{# Dans notre layout, il faut définir le block body #}
{% block body %}
  {# On affiche les messages flash que définissent les contrôleurs du bundle #}
  {% for key, messages in app.session.flashbag.all() %}
     {% for message in messages %}

        {{ message|trans({}, 'FOSUserBundle') }}

     {% endfor %}
  {% endfor %}

  {# On définit un nouveau block, que les vues du bundle pourront remplir #}
  {% block sdzuser_body %}
  {% endblock %}

  {% block content %}
    {% block fos_user_content %}{% endblock %}
  {% endblock %}

{% endblock %}
