{# src/Sdz/UserBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
    Panneau de l'utilisateur - {{ parent() }}
{% endblock %}

{% block header %}
    <header class="jumbotron subhead">
      <div class="container">
        <h1>Espace membre</h1>
        <p class="lead">Consulter votre profil</p>
      </div>
    </header>
{% endblock %}

{% block content %}

  {% for key, message in app.session.flashbag.all() %}
    <div class="alert alert-{{ key }}">
      {{ message|trans({}, 'FOSUserBundle') }}
    </div>
  {% endfor %}

  {% block fos_user_content %}
  {% endblock fos_user_content %}

{% endblock %}
