{% extends "IsmBlogBundle::layout.html.twig" %}

{% block body -%}

  <h2>Liste des articles</h2>
  <ul>
    {% for article in articles %}
      {% include "IsmBlogBundle:Article:article.html.twig" with {'accueil': true} %}
      <hr />
    {% else %}
      <p>Pas (encore !) d'articles</p>
    {% endfor %}
  </ul>

{% endblock %}
